.app__chef-content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app__chef-content_quote {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.app__chef-content_quote img {
    margin: 0 1rem 1rem 0;
    width: 47px;
    height: 40px;
}

.app__chef-sign {
    margin-top: 3rem;
    width: 100%;
}

.app__chef-sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-golden);
}

.app__chef-sign img {
    margin-top: 3rem;
    width: 250px;
}

@media screen and (max-width: 2000px) {
    .app__chef-sign img {
        width: 370px;
    }
}

@media screen and (max-width: 450px) {
    .app__chef-sign img {
        width: 80%;
    }
}